@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');

:root {
  --primary-color: #181719;
  --secondary-color: #ffffff;
  --tertiary-color: #828282;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
*/
